[submodule "Parse-BACKPAN-Packages"]
	path = Parse-BACKPAN-Packages
	url = git://github.com/schwern/parse-backpan-packages.git
[submodule "git-cpan-patch"]
	path = git-cpan-patch
	url = git://github.com/schwern/git-cpan-patch.git
